* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(60%);
}
.quote-container {
    position: absolute;
    width: 80%;
    max-width: 700px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.quote {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
}
.author {
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
    opacity: 0.8;
}
.button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.button:hover {
    background-color: #e6b800;
}
iframe {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#about {
    position: fixed;
    top: 5px;
    right: 10px;
}
.about-container {
    position: absolute;
    width: 80%;
    max-width: 700px;
    background: #fff; /* Papier blanc */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Ombre douce pour l'effet de feuille */
    border: 1px solid #ddd; /* Bordure légère pour simuler les bords d'une feuille */
    line-height: 1.8; /* Espacement entre les lignes pour faciliter la lecture */
    font-size: 18px; /* Taille du texte, ajustez en fonction de votre préférence */
    max-height: 90%;
    overflow-y: auto;
}

.about-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; 
    background-color: #e6b800;
    border-radius: 5px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    text-transform: uppercase;
}

.about-text {
    text-align: justify; 
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
    text-indent: 20px; 
}